<header class="banner">
      <a href="/index"><img src="/assets/images/logo.png" alt="The site logo" height="80" width="200"></a>
	  <nav>
      <ul>
        <li><a href="/savedConnections">My RSVPed Events</a></li>
        <li><a href="/savedConnections?action=signout">LogOut</a></li>
        <li><a href="/newconnection">Create Event</a></li>
      </ul>
      </nav>
</header>
