<header class="headbanner">
      <a href="/index"><img src="/assets/images/logo.png" alt="The site logo" height="80" width="200"></a>
	  <nav>
      <ul>
        <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/newConnection">Create Event</a></li>
      </ul>
      </nav>
</header>
