<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EventRite</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
  </head>
  <body>
    <%  if(loggedin){  %>
        <% include partials/headerloggedin.ejs %>
        <% include partials/navigationloggedin.ejs %>
    <%  }else{    %>
        <% include partials/header.ejs %>
        <% include partials/navigation.ejs %>
    <%  }  %>

    <main>
	<h2>MISSION, VALUES, HISTORY</h2>
  <br>
  <h3>Our Mission</h3>
  <p>
	EventRite works to enhance and unify the
  community by planning social, cultural and educational events that compliment
  the university's academic mission.
	</p>
  <br>
  <h3>We Value </h3>
  <p> The image of EventRite and producing quality events the talents and gifts of
    our committee members the ability to develop leaders and enhance individual
    skills the diversity and ideas of all members of the campus community.
    </p>
  <br>
  <h3> Our History </h3>
  <p> The EventRite is the largest student programming
    organization and is responsible for planning diverse, quality events
    for the university community. CAB was founded early on in the
    history of UNC Charlotte, and maintains a vital role in fostering
    49er spirit and traditions such as Gold Rush, Union TakeOvers, and Homecoming.
  </p>
    </main>

    <% include partials/footer.ejs %>

  </body>
</html>
