<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EventRite</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
  </head>
  <body>
    <%  if(loggedin){  %>
        <% include partials/headerloggedin.ejs %>
        <% include partials/navigationloggedin.ejs %>
    <%  }else{    %>
        <% include partials/header.ejs %>
        <% include partials/navigation.ejs %>
    <%  }  %>

    <main>
	<h2>Who are WE?</h2>
  <br>
  <h3>Our Mission</h3>
  <p>
	Eventbrite is a global platform for live experiences that allows anyone to
  create, share, find and attend events that fuel their passions and enrich their lives.
  From music festivals, marathons, conferences, community rallies, and fundraisers,
  to gaming competitions and air guitar contests.
  Our mission is to bring the world together through live experiences.
	</p>
  <br>
  <h3>We Value </h3>
  <p> The image of EventRite and producing quality events the talents and gifts of
    our committee members the ability to develop leaders and enhance individual
    skills the diversity and ideas of all members of the community.
    </p>
  <br>
  <h3> Our History </h3>
  <p> The EventRite is the largest  programming
    organization and is responsible for planning diverse, quality events
    for the  community.
  </p>
    </main>

    <% include partials/footer.ejs %>

  </body>
</html>
